# Raw Code

In [9]:
def min_max_scaling (data):
    min_val = min(data)
    max_val = max(data)
    scaled_data = [(x- min_val)/(max_val - min_val) for x in data]
    return scaled_data

In [15]:
data = [1,20,30,4,5]
scaled_data = min_max_scaling(data)
print('Original data:',data)
print('Scaled data:', scaled_data)

Original data: [1, 20, 30, 4, 5]
Scaled data: [0.0, 0.6551724137931034, 1.0, 0.10344827586206896, 0.13793103448275862]

# using sklearn

In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [22]:
data = {
    'Feature1': [1,5,10,4,5],
    'Feature2': [6,7,8,19,10]
}
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1         6
1         5         7
2        10         8
3         4        19
4         5        10

In [24]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

In [28]:
print("Original Dataframe:")
print(df)
print('\nScaled DataFrame:')
print(scaled_df)

Original Dataframe:
   Feature1  Feature2
0         1         6
1         5         7
2        10         8
3         4        19
4         5        10

Scaled DataFrame:
   Feature1  Feature2
0  0.000000  0.000000
1  0.444444  0.076923
2  1.000000  0.153846
3  0.333333  1.000000
4  0.444444  0.307692