In [1]:
import pandas as pd

In [5]:
data = {
    'X': [1,2,3,4,5,7,10],
    'Y': [2,3,5,4,6,6,8]
}

In [7]:
data

{'X': [1, 2, 3, 4, 5, 7, 10], 'Y': [2, 3, 5, 4, 6, 6, 8]}

In [9]:
df = pd.DataFrame(data)
df.head()

   X  Y
0  1  2
1  2  3
2  3  5
3  4  4
4  5  6

# calculate Pearson correlation

In [12]:
pearson_corr = df['X'].corr(df['Y'])
print('Pearson correlation co-efficent:',pearson_corr)

Pearson correlation co-efficent: 0.9391480052471199

In [14]:
df.corr()

          X         Y
X  1.000000  0.939148
Y  0.939148  1.000000