In [1]:
import pandas as pd

In [3]:
data = {
    'Feature1': [1,20,3,40,5],
    'Feature2': [6,7,18,19,10]
}
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

In [28]:
def standardize_data(data):
    mean = data.mean()
    std_dev = data.std(ddof=0) # delta degree of freedom n-1
    standardize_data_raw = (data-mean)/std_dev
    return standardize_data_raw

In [30]:
standardize_df_raw = df.apply(standardize_data)

In [32]:
print('Original DataFrame:')
print(df)
print('\nStandardize DataFrame: ')
print(standardize_df_raw)

Original DataFrame:
   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

Standardize DataFrame:
   Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148

In [34]:
standardize_df_raw.head()

   Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148

# using Sklearn

In [37]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler = StandardScaler()

In [41]:
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns=df.columns)

In [43]:
print('Original DataFrame:')
print(df)
print('\nStandardize DataFrame: raw code')
print(standardize_df_raw)
print('\nStandardize DataFrame: sklearn')
print(standardized_df )

Original DataFrame:
   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

Standardize DataFrame: raw code
   Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148

Standardize DataFrame: sklearn
   Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148